[Unit]
Description=<description about this service>

[Service]
User=root
WorkingDirectory=/.scripts
ExecStart=/.scripts/autoshutdown 
ExecStop=/.scripts/stop
Restart=always

[Install]
WantedBy=multi-user.target

