[Unit]
Description=<description about this service>

[Service]
User=root
WorkingDirectory=/.scripts
ExecStart=./autoshutdown 
ExecStop=sleep 1 
Restart=always

[Install]
WantedBy=multi-user.target

